@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(241, 232, 239);
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
}

.inputFields{
    width: 100%;
}

select{
    width: 45%;
    height: 50%;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 50px;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #D9D9D9;
}

.registerinput{
    width: 40%;
    height: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#outer {
    position: absolute;
    top: 40px;
    right: 200px;
    bottom: 40px;
    left: 200px;
    display: flex;
    background-color: #F3F0E9;
    flex-direction: row;
}

#left {
    background-color: #D9D9D9;
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

#right {
    background-color: #F3F0E9;
    width: 63%;
    height: 100%;
}

#load {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    height: 10%;
    display: flex;
    flex-direction: row;
}

#register {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    font-size: 2em;
    cursor: pointer;
}

#login {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9E9E94;
    font-size: 2em;
    cursor: pointer;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* For Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-select:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border: none !important;
}

label {
    margin-bottom: 12px;
    margin-top: 35px;
    font-size: 2em;
    width: 60%;
    padding: 0;
}

input {
    width: 60%;
    height: 10%;
    border-radius: 10px;
    border: none;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #D9D9D9;
}

input:focus {
    outline: none;
}

img {
    width: 150px;
    height: 150px;
}

#heading {
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: 300;
}

button {
    font-size: 1.85em;
    height: 10%;
    width: 23%;
    margin-top: 50px;
    margin-bottom: 10%;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
}